/* BASICS!!!!!!!:

Darkest: #111
Dark Black: #222
Ligher black: #1a1a1a

MAIN color: #D7B659

gray/silver: BDC6C6 */

/* THEME CSS  */
.dark{
    background-color: #111;
}
.gold{
    color: #D7B659;
}

.gray{
    color: #BDC6C6;
}

.white{
    color: white;
}
.theme {
    background-color: #222;
    color: white;
}

.nav-theme {
    padding-left: 1%;
    padding-right: 1%;
    background-color: #111;
    position: fixed;
}
.content {
    text-align: center;
}

.noPadding {    
    padding: 0px;
}


.sidePadding {    
    padding-left: 2%;
    padding-right: 2%;
}
.leftAlign{
    text-align: left;
}

.rightAlign{
    text-align: right;
}

/* LAYOUT CSS */

.rootLeft {
    float: left;
    width: 20%;
    text-align: left;
    background-color: #1a1a1a;
}

.rootCenter {
    display: inline-block;
    width: 60%;
}

.rootRight {
    float: right;
    width: 20%;
    text-align: right;
    background-color: #1a1a1a;
}

/* COMPONENT CSS */

.leftbar {
    padding-left: 3%;
    height: 1000px;
    color: #D7B659;
}

.rightbar {
    padding-right: 3%;
    height: 1000px;
}

.footer-theme {
    position: fixed;
    width: 100%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 10%;
    background-color: #111;
    text-align: center;
    color: #D7B659;
}

.feedCover {
    margin: 1%;
    width: 100%;
}

/* LEFTBAR NAV CSS */

.navOne {
    color: #878E95;
}

.navTwo {
    padding-left: 10%;
    color: #fff;
}


/* USER PROFILE CSS */

.profileImage {
    grid-area: profileImage;
}

.profileCircle {
    height: 250px;
    width: 250px;
}

.profileTags {
    grid-area: profileTags;
}

.profileInfo {
    grid-area: profileInfo;
    text-align: left;
}

.profileFollow {
    grid-area: profileFollow;
    text-align: right;
    margin-top: 5%;
}

.profileButtons {
    grid-area: profileButtons;
}

.profile-grid {
    display: grid;
    grid-template-areas:
     'profileImage profileInfo profileFollow' 
     'profileTags profileButtons profileButtons';
    grid-gap: 10px;
    padding: 10px;
}

/* POST CSS  */

.postSource {
    grid-area: postSource;
}

.postCaption {
    grid-area: postCaption;
    text-align: left;
    padding-left: 7%;
}

.postImage {
    grid-area: postImage;
}

.postCover {
    height: 200px;
    width: 200px;
}

.postInfo {
    grid-area: postInfo;
    text-align: left;
}

.postButton {
    grid-area: postButton;
    text-align: right;
    padding-right: 10%;
}

.postIcons {
    font-size: 15px;
}

.post-grid {
    display: grid;
    grid-template-areas: 'postSource postSource postSource postSource' 'postCaption postCaption postCaption postCaption ' 'postImage postInfo postInfo postInfo' 'postImage postButton postButton postButton';
    padding: 10px;
}


.postCard{
    width: 30%;
}

/* FOOTER CSS  */

.footerCover {
    text-align: left;
    height: 18%;
}

.footerControls {
    font-size: 35px;
    padding: 5%;
    padding-top: 6%;
}

.footerButtons {
    font-size: 20px;
    padding: 5%;
    padding-top: 6%;
}
